In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_suicidio = pd.read_csv('dados/suicide_statistic_concluido.csv')
df_idh = pd.read_csv('dados/Human-Development-Index-concluido.csv')

In [3]:
paises = ['Chad', 'Mozambique', 'Brazil', 'India', 'Germany', 'Norway']

In [4]:
df_suicidio_paises = df_suicidio[df_suicidio['country'].isin(paises)]
df_idh_paises = df_idh[df_idh['Country'].isin(paises)]

In [8]:
df_suicidio_paises.head(10000)

      country  year     sex          age  suicides_no  population
6204   Brazil  1979  female  15-24 years        385.0  12448100.0
6205   Brazil  1979  female  25-34 years        227.0   8867900.0
6206   Brazil  1979  female  35-54 years        269.0  10282200.0
6207   Brazil  1979  female   5-14 years         47.0  14135000.0
6208   Brazil  1979  female  55-74 years        121.0   4678800.0
...       ...   ...     ...          ...          ...         ...
28267  Norway  2015    male  25-34 years         64.0    361373.0
28268  Norway  2015    male  35-54 years        140.0    736827.0
28269  Norway  2015    male   5-14 years          2.0    320375.0
28270  Norway  2015    male  55-74 years        119.0    544268.0
28271  Norway  2015    male    75+ years         32.0    146511.0

[1200 rows x 6 columns]

In [9]:
df_idh_paises.head()

,Country,Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),Human Development Index (1995),Human Development Index (1996),Human Development Index (1997),Human Development Index (1998),...,Human Development Index (2012),Human Development Index (2013),Human Development Index (2014),Human Development Index (2015),Human Development Index (2016),Human Development Index (2017),Human Development Index (2018),Human Development Index (2019),Human Development Index (2020),Human Development Index (2021)
23,Brazil,0.610,0.616,0.622,0.630,0.638,0.646,0.653,0.660,0.666,...,0.732,0.750,0.754,0.753,0.755,0.759,0.764,0.766,0.758,0.754
44,Germany,0.829,0.835,0.842,0.852,0.858,0.863,0.868,0.874,0.879,...,0.933,0.934,0.937,0.938,0.941,0.944,0.945,0.948,0.944,0.942
78,India,0.434,0.437,0.442,0.446,0.452,0.458,0.466,0.471,0.478,...,0.598,0.607,0.619,0.629,0.639,0.644,0.645,0.645,0.642,0.633
119,Mozambique,0.238,0.240,0.234,0.239,0.242,0.247,0.259,0.272,0.283,...,0.413,0.427,0.433,0.440,0.443,0.445,0.451,0.456,0.453,0.446
129,Norway,0.838,0.845,0.851,0.858,0.873,0.871,0.879,0.885,0.895,...,0.946,0.949,0.952,0.953,0.955,0.959,0.962,0.961,0.959,0.961

In [10]:
df_suicidio_paises.to_csv('analise/suicidio_filtrado.csv', index=False)
df_idh_paises.to_csv('analise/idh_filtrado.csv', index=False)