In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
suicide_statistic = pd.read_csv('dados/who_suicide_statistics.csv')

In [35]:
suicide_statistic.head(10)

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years    193.31539    277900.0
1  Albania  1985  female  25-34 years    193.31539    246800.0
2  Albania  1985  female  35-54 years    193.31539    267500.0
3  Albania  1985  female   5-14 years    193.31539    298300.0
4  Albania  1985  female  55-74 years    193.31539    138700.0
5  Albania  1985  female    75+ years    193.31539     34200.0
6  Albania  1985    male  15-24 years    193.31539    301400.0
7  Albania  1985    male  25-34 years    193.31539    264200.0
8  Albania  1985    male  35-54 years    193.31539    296700.0
9  Albania  1985    male   5-14 years    193.31539    325800.0

In [12]:
suicide_statistic.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [14]:
(suicide_statistic.isnull().sum() / len(suicide_statistic)) * 100

country         0.000000
year            0.000000
sex             0.000000
age             0.000000
suicides_no     5.153509
population     12.472588
dtype: float64

In [15]:
print(suicide_statistic[suicide_statistic.isnull().any(axis=1)].head(10))

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0
5  Albania  1985  female    75+ years          NaN     34200.0
6  Albania  1985    male  15-24 years          NaN    301400.0
7  Albania  1985    male  25-34 years          NaN    264200.0
8  Albania  1985    male  35-54 years          NaN    296700.0
9  Albania  1985    male   5-14 years          NaN    325800.0

In [16]:
len(suicide_statistic)

43776

In [17]:
nulos = suicide_statistic.isnull().sum()
total = len(suicide_statistic)
percentuais = (nulos / total) * 100

print("Valores nulos absolutos:")
print(nulos)
print("\nPercentual de valores nulos:")
print(percentuais)

Valores nulos absolutos:
country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

Percentual de valores nulos:
country         0.000000
year            0.000000
sex             0.000000
age             0.000000
suicides_no     5.153509
population     12.472588
dtype: float64

In [19]:
suicide_statistic['suicides_no'] = suicide_statistic['suicides_no'].fillna(suicide_statistic['suicides_no'].mean())

In [21]:
suicide_statistic.head(10)

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years    193.31539    277900.0
1  Albania  1985  female  25-34 years    193.31539    246800.0
2  Albania  1985  female  35-54 years    193.31539    267500.0
3  Albania  1985  female   5-14 years    193.31539    298300.0
4  Albania  1985  female  55-74 years    193.31539    138700.0
5  Albania  1985  female    75+ years    193.31539     34200.0
6  Albania  1985    male  15-24 years    193.31539    301400.0
7  Albania  1985    male  25-34 years    193.31539    264200.0
8  Albania  1985    male  35-54 years    193.31539    296700.0
9  Albania  1985    male   5-14 years    193.31539    325800.0

In [26]:
suicide_statistic['population'] = suicide_statistic.groupby(
    ['country', 'year', 'age', 'sex']
)['population'].transform(lambda x: x.fillna(x.mean()))

In [36]:
suicide_statistic.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no       0
population     5460
dtype: int64

In [37]:
print(suicide_statistic.shape)

(43776, 6)