In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df_idh = pd.read_csv('dados/Human Development Index - Full.csv')

In [8]:
df_idh.head(10)

,ISO3,Country,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),...,Material footprint per capita (tonnes) (2012),Material footprint per capita (tonnes) (2013),Material footprint per capita (tonnes) (2014),Material footprint per capita (tonnes) (2015),Material footprint per capita (tonnes) (2016),Material footprint per capita (tonnes) (2017),Material footprint per capita (tonnes) (2018),Material footprint per capita (tonnes) (2019),Material footprint per capita (tonnes) (2020),Material footprint per capita (tonnes) (2021)
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95
5,ARG,Argentina,Very High,LAC,47.0,0.723,0.730,0.735,0.739,0.744,...,15.69,16.74,16.57,17.85,16.95,18.75,16.88,15.81,15.81,15.81
6,ARM,Armenia,High,ECA,85.0,0.656,0.649,0.618,0.616,0.620,...,6.27,6.15,6.44,6.50,7.79,7.35,6.01,5.95,5.95,5.95
7,ATG,Antigua and Barbuda,High,LAC,71.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,Australia,Very High,NaN,5.0,0.865,0.867,0.869,0.873,0.873,...,49.09,45.97,47.80,46.91,46.32,48.27,47.70,46.82,46.82,46.82
9,AUT,Austria,Very High,NaN,25.0,0.825,0.829,0.835,0.840,0.845,...,27.26,27.32,27.48,26.40,26.89,25.62,25.39,24.62,24.62,24.62

In [9]:
df_idh.columns

Index(['ISO3', 'Country', 'Human Development Groups',
       'UNDP Developing Regions', 'HDI Rank (2021)',
       'Human Development Index (1990)', 'Human Development Index (1991)',
       'Human Development Index (1992)', 'Human Development Index (1993)',
       'Human Development Index (1994)',
       ...
       'Material footprint per capita (tonnes) (2012)',
       'Material footprint per capita (tonnes) (2013)',
       'Material footprint per capita (tonnes) (2014)',
       'Material footprint per capita (tonnes) (2015)',
       'Material footprint per capita (tonnes) (2016)',
       'Material footprint per capita (tonnes) (2017)',
       'Material footprint per capita (tonnes) (2018)',
       'Material footprint per capita (tonnes) (2019)',
       'Material footprint per capita (tonnes) (2020)',
       'Material footprint per capita (tonnes) (2021)'],
      dtype='object', length=880)

In [11]:
cols_hdi = ['Country'] + [col for col in df_idh.columns if col.startswith('Human Development Index')]
df_idh_clean = df_idh[cols_hdi]

In [14]:
df_idh_clean.head(100)

,Country,Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),Human Development Index (1995),Human Development Index (1996),Human Development Index (1997),Human Development Index (1998),...,Human Development Index (2012),Human Development Index (2013),Human Development Index (2014),Human Development Index (2015),Human Development Index (2016),Human Development Index (2017),Human Development Index (2018),Human Development Index (2019),Human Development Index (2020),Human Development Index (2021)
0,Afghanistan,0.273,0.279,0.287,0.297,0.292,0.310,0.319,0.323,0.324,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,Albania,0.647,0.629,0.614,0.617,0.624,0.634,0.645,0.642,0.657,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,United Arab Emirates,0.728,0.739,0.742,0.748,0.755,0.762,0.767,0.773,0.779,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Kuwait,0.718,0.680,0.678,0.705,0.733,0.759,0.782,0.786,0.789,...,0.826,0.819,0.823,0.830,0.833,0.835,0.836,0.839,0.822,0.831
96,Lao,0.405,0.412,0.417,0.424,0.432,0.434,0.447,0.454,0.460,...,0.572,0.582,0.592,0.599,0.604,0.607,0.607,0.610,0.608,0.607
97,Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.762,0.759,0.750,0.746,0.743,0.750,0.750,0.745,0.726,0.706
98,Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.470,0.475,0.472,0.473,0.478,0.481,0.483,0.484,0.480,0.481
99,Libya,0.666,0.677,0.681,0.684,0.689,0.694,0.699,0.704,0.706,...,0.726,0.716,0.699,0.699,0.696,0.714,0.722,0.722,0.703,0.718

In [13]:
df_idh_clean.shape

(195, 33)

In [15]:
df_idh_clean.isnull().sum()

Country                            0
Human Development Index (1990)    54
Human Development Index (1991)    54
Human Development Index (1992)    54
Human Development Index (1993)    54
Human Development Index (1994)    54
Human Development Index (1995)    43
Human Development Index (1996)    43
Human Development Index (1997)    43
Human Development Index (1998)    43
Human Development Index (1999)    38
Human Development Index (2000)    21
Human Development Index (2001)    21
Human Development Index (2002)    18
Human Development Index (2003)    16
Human Development Index (2004)    14
Human Development Index (2005)     9
Human Development Index (2006)     9
Human Development Index (2007)     8
Human Development Index (2008)     8
Human Development Index (2009)     8
Human Development Index (2010)     6
Human Development Index (2011)     5
Human Development Index (2012)     5
Human Development Index (2013)     5
Human Development Index (2014)     5
Human Development Index (2015)     5
Human Development Index (2016)     5
Human Development Index (2017)     5
Human Development Index (2018)     4
Human Development Index (2019)     4
Human Development Index (2020)     4
Human Development Index (2021)     4
dtype: int64

In [17]:
df_idh_clean.to_csv('dados/HDI_ColunasReduzidas.csv', index=False)